header {
    background-image: url(src/01.jpg);
    background-color: aquamarine;
    background-size: cover;
    background-position: fill;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 50px;
}

.hdiv2-1 {
    width: 50%;
    float: left;
}

.hdiv2-2 {
    width: 50%;
    float: left;
}

.hdivimg {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border: 2px groove #116788;
    border-radius: 5px;
}

body {
    background-color: aquamarine;
}

